SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=danielm@cedarviewng.com
SMTP_PASS=your_email_password
ALERT_RECIPIENT=danielm@cedarviewng.com
PING_INTERVAL_MS=60000

# JSON formatted array of servers to monitor
SERVERS=[{"name":"Cloud Phoenix","host":"10.39.98.15"},{"name":"VSOL Ince","host":"10.39.98.109"}]
